:php
	/*
	Template Name: Frontpage
	*/

	get_header();

:php
	if (have_posts()) : while (have_posts()) : the_post();

	$blender_version = get_field('blender_version', 'option');
	$download_url = get_permalink(110); // 110 is the download page ID

- /* Main, eye-catchy header */
:php
	$header_title = get_field('header_title');
	$header_subtitle = get_field('header_subtitle');
	$header_title_placement = get_field('header_title_placement');
	$header_image = get_field('header_image');
	$header_image_url = $header_image['url'];
	$header_bg_color = get_field('header_background_color');
	$header_link = get_field('header_link');
	$download_text_top = get_field('download_text_top');
	$download_text_top_url = get_field('download_text_top_url');


- /* Main Header */
section.page-header-main(class="<?=($header_link ? 'is-link' : '')?> <?=$header_title_placement?>")
	.container
		- edit_post_link('<i class="fa fa-pencil"></i> Edit Page');
		.page-header-main-image.frontpage
			img.parallax(src="<?=get_the_post_thumbnail_url($post->ID, 'full')?>")
		| <?=($header_link ? '<a href="' . $header_link . '" target="_blank">' : '')?>
		.page-header-main-title
			span.title-head
				span(style="background-color: <?=$header_bg_color?>; \
										box-shadow: 0.5em 0 0 <?=$header_bg_color?>,-0.5em 0 0 <?=$header_bg_color?>")
					| <?=$header_title?>
			-if ($header_subtitle):
			span.title-subtitle
				span(style="background-color: <?=$header_bg_color?>; \
										box-shadow: 0.5em 0 0 <?=$header_bg_color?>,-0.5em 0 0 <?=$header_bg_color?>")
					| <?=$header_subtitle?>
			- endif;
		| <?=($header_link ? '</a>' : '')?>


- /* Header footer with download button */
section.page-header-main-footer
	a.title-lead(href="<?=$download_text_top_url?>") <?=$download_text_top?>
	.page-header-main-cta
		a.cta-download(href="<?=$download_url?>")
			i.fa.fa-download
			| Download Blender <?=$blender_version?>


- /* About & Get Involved */
section.page-card.about
	.container
		- the_content();


-/* Optional Announcement */
:php
	$announcement = get_field('announcement');
	$announcement_title = get_field('announcement_title');
	$announcement_image = get_field('announcement_image');
	$announcement_description = get_field('announcement_description');
	$announcement_cta_primary_label = get_field('announcement_cta_primary_label');
	$announcement_cta_primary_url = get_field('announcement_cta_primary_url');
	$announcement_cta_secondary_label = get_field('announcement_cta_secondary_label');
	$announcement_cta_secondary_url = get_field('announcement_cta_secondary_url');

- if ($announcement):
section.page-announcement-main
	.page-header-main-image(class="<?=($announcement_title ? '' : 'solo')?>")
		img(src="<?=$announcement_image['sizes']['large']?>")
	- if ($announcement_title):
	.page-footer-main-title
		span.title-head
			span <?=$announcement_title?>
	- endif;
	- if ($announcement_description):
	.page-footer-main-text
		span <?=$announcement_description?>
	- endif;
	.page-header-main-ctas
		- if ($announcement_cta_primary_url):
		.page-header-main-cta
			a.cta-primary(href="<?=$announcement_cta_primary_url?>") <?=$announcement_cta_primary_label?>
		- endif;
		- if ($announcement_cta_secondary_url):
		.page-header-main-cta
			a.cta-secondary(href="<?=$announcement_cta_secondary_url?>") <?=$announcement_cta_secondary_label?>
		- endif;
- endif;


- /* Blender.org & Community News */
section.page-card.about
	.container
		.row
			.col-md-12
				a.page-card-title(href="/news") Blender.org News
				.fp-news-list
					- while( have_rows('news') ): the_row();
						- $news_image = get_sub_field('image');
						.fp-news-list-item(data-url="<?=get_sub_field('url')?>")
							a.fp-news-list-item-thumbnail(href="<?=get_sub_field('url')?>")
								- if ($news_image):
								img(src="<?=$news_image['sizes']['large']?>")
								- else:
								i.fa.fa-newspaper-o
								img(src="<?php bloginfo( 'template_directory' ); ?>/assets/images/backgrounds/background-gradient-pinkcyan.jpg")
								- endif;
							.fp-news-list-item-info
								a.fp-news-list-item-title(href="<?=get_sub_field('url')?>") <?=get_sub_field('title')?>
								span.fp-news-list-item-desc <?=get_sub_field('description')?>
					- endwhile;


- /* Features */
section.page-card.features(
	style="background-image: url(<?php bloginfo( 'template_directory' ); ?>/assets/images/backgrounds/background-manuel_grad-scificity.jpg)")
	.container
		.page-card-title <?=get_field('features_title');?>

		ul.page-card-list
			- while( have_rows('features') ): the_row();
			- $feature_image = get_sub_field('image');
			li.feature-item
				.feature-details
					.feature-title <?=get_sub_field('title')?>
					.feature-desc <?=get_sub_field('description')?>
				.feature-image.js-isolify(
					data-url="<?=$feature_image['url']?>",
					data-credits="<?=get_sub_field('credits')?>")
					img(src="<?=$feature_image['sizes']['large']?>")
			- endwhile;

		.page-card-credit.
			background: Manuel Grad - manuelgrad.at


- /* Support */
section.page-card.support
	.page-card-title
		| Support Blender


- /* DevFund */
:php
	$devfund_title = get_field('devfund_title');
	$devfund_description = get_field('devfund_description');
	$devfund_cta_primary_label = get_field('devfund_cta_primary_label');
	$devfund_cta_primary_url = get_field('devfund_cta_primary_url');
	$devfund_cta_secondary_label = get_field('devfund_cta_secondary_label');
	$devfund_cta_secondary_url = get_field('devfund_cta_secondary_url');

section.page-card.devfund
	.page-header-main-image
		img(src="<?php bloginfo( 'template_directory' ); ?>/assets/images/backgrounds/background-polygon-lightblue.jpg")
	.container
		section.page-card-side.hidden-xs
			a.page-card-icon(href="https://www.blender.org/donate")
				svg(xmlns='http://www.w3.org/2000/svg', width='64', height='50', viewbox='0 0 64 50')
					path(d='M16.117 40.37c-3.964-2.644-6.89-6.25-8.214-10.37M40.116 43.954c-2.512.68-5.202 1.046-8 1.046-2.796 0-5.484-.367-7.994-1.045M47.116 8.998c6.072 3.65 10 9.46 10 16.002 0 6.177-3.5 11.7-9 15.367M11.116 30h-8c-1.105 0-2-.896-2-2v-6c0-1.104.895-2 2-2h4c1.092-3.39 4.054-6.556 7-9V2l7 5c2.753-1.08 5-2 8-2', fill='none', stroke-width='2', stroke-miterlimit='10')
					path(fill='none', stroke-width='2', stroke-miterlimit='10', d='M24.116 41v8h-8V36M48.116 36v13h-8v-8M22.116 18c0 2.21-1.79 4-4 4s-4-1.79-4-4M63.116 19c0 3.313-2.687 6-6 6')
					path(d='M42.353 6a4.203 4.203 0 1 1-8.406 0 4.203 4.203 0 1 1 8.406 0z', fill='#ec8e30', stroke='#ec8e30')
					path(d='M34.114 8.998c-.627-.835-.998-1.873-.998-2.998 0-2.762 2.24-5 5-5s5 2.238 5 5c0 1.984-1.155 3.7-2.83 4.506', fill='none', stroke-width='2', stroke-miterlimit='10')
					path(d='M40.075 6a1.925 1.925 0 1 1-3.85 0 1.925 1.925 0 1 1 3.85 0z', fill='#02598e', stroke='#02598e')
					path(d='M30.116 9c5.63 0 11 1 15 4M.116 49h64', fill='none', stroke-width='2', stroke-miterlimit='10')

		section.page-card-side
			.page-card-title
				= $devfund_title
			.page-card-summary
				= $devfund_description

			- if ($devfund_cta_primary_label):
			a.page-card-cta.primary(
				href="<?=$devfund_cta_primary_url?>")
				| <?=$devfund_cta_primary_label?>
			- endif;
			- if ($devfund_cta_secondary_label):
			a.page-card-cta(
				href="<?=$devfund_cta_secondary_url?>")
				| <?=$devfund_cta_secondary_label?>
			- endif;


- /* Blender Cloud */
:php
	$bcloud_title = get_field('bcloud_title');
	$bcloud_description = get_field('bcloud_description');
	$bcloud_cta_primary_label = get_field('bcloud_cta_primary_label');
	$bcloud_cta_primary_url = get_field('bcloud_cta_primary_url');

section.page-card.cloud
	.page-header-main-image
		img(src="<?php bloginfo( 'template_directory' ); ?>/assets/images/backgrounds/background-andy-waking.jpg")
	.container
		section.page-card-side
			.page-card-title
				= $bcloud_title
			.page-card-summary <?=$bcloud_description?>

			- if ($bcloud_cta_primary_label):
			a.page-card-cta.primary(
				href="<?=$bcloud_cta_primary_url?>")
				| <?=$bcloud_cta_primary_label?>
			- endif;

	.container
		.page-triplet-container

			- while( have_rows('bcloud_cards') ): the_row();
			.triplet-card.js-redirect(data-url="<?=get_sub_field('url')?>")
				.triplet-card-info
					h3
						= get_sub_field('title')
					p
						= get_sub_field('description')
					a.triplet-card-cta(href="<?=get_sub_field('url')?>")
						| LEARN MORE
			- endwhile;


- /* Download one more time! */
:php
	$download_text_bottom = get_field('download_text_bottom');

section.page-footer-main.footer
	.page-footer-main-title
		span.title-head <?=$download_text_bottom?>
	.page-header-main-cta
		a.cta-download(href="<?=$download_url?>")
			i.fa.fa-download
			| Download Blender <?=$blender_version?>


#widget-scroll.active
	i.fa.fa-angle-down


script.
	/* Parallax */
	function $$(selector, context) {
			context = context || document;
			var elements = context.querySelectorAll(selector);
			return Array.prototype.slice.call(elements);
	}



	var feature_items = document.getElementsByClassName('feature-item');

	function triggerVisible() {
		for(var i = 0; i < feature_items.length; i++){
			var offset = feature_items[i].offsetTop + (window.innerHeight / 2);

			if (document.body.scrollTop > offset || document.documentElement.scrollTop > offset){
				if (!feature_items[i].classList.contains('visible')){
					feature_items[i].className += " visible";
				}
			}
		}
	}


	/* Is it a touch device? */
	var touchDevice = 'ontouchstart' in window;

	var body = document.body,
			html = document.documentElement;
	var height = Math.max(body.scrollHeight, body.offsetHeight,
												html.clientHeight, html.scrollHeight, html.offsetHeight );
	var widget_scroll = document.getElementById('widget-scroll');

	window.addEventListener("scroll", function() {
		var scrolledHeight= window.pageYOffset;

		if (scrolledHeight < (window.height - window.innerHeight)){
			widget_scroll.className = 'active';
		} else {
			widget_scroll.className = '';
		}

		if (!touchDevice){
			$$(".parallax").forEach(function(el,index,array) {
				var limit= el.offsetTop+ el.offsetHeight;
				if(scrolledHeight > el.offsetTop && scrolledHeight <= limit) {
					el.style.transform= ('translate3D(0,' + (scrolledHeight - el.offsetTop) /2+ 'px, 0)');
				}
				else {
					el.style.transform= ('translate3D(0, 0, 0)');
				}
			});
		}

		triggerVisible();
	});

- function jQuery() {
script.
	$('#widget-scroll').on('click', function(){
		$('html, body').animate({ scrollTop: '+=' + window.innerHeight}, 1200);
	});
- };

- add_action( 'wp_footer', 'jQuery' );

- endwhile; endif;
- get_footer('sitemap');
- get_footer();

